<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:fb="http://www.facebook.com/2008/fbml">
<head>
<th:block th:replace="header :: common_head ('')"></th:block>
</head>
<style>
.panel-primary {
	border-color: #222;
}

.panel-primary>.panel-heading {
	color: #ffffff;
	background-color: #222;
	border-color: #222;
}

.panel-primary>.panel-heading+.panel-collapse .panel-body {
	border-top-color: #222;
}

.panel-primary>.panel-footer+.panel-collapse .panel-body {
	border-bottom-color: #222;
}
</style>
<body background="../images/bg.jpg">
	<header th:replace="header :: header('EventCheck')"></header>
	<div class="container">

		<div class="panel panel-primary">
			<div class="panel-heading">
				<h4 class="panel-title">
					<span class="glyphicon glyphicon-time"></span> Event
				</h4>
			</div>
			 <div class="panel-body">
			<h4 style="text-align: center">This is your items in this time,
				please check it!</h4>
			<br />
			<br />
				<input type="hidden" id="checkeventid" th:value="${list}" />
				<div th:each="timetable:${timetable}" id="accordion"
					class="panel-group">

					<form id="form" name="timetable" method="post"
						class="form-horizontal" th:action="@{/insomniaclub/eventcheck}" >
						<div class="form-group"></div>
						<div class="form-group">
							<div class="col-md-4 col-md-offset-1">
								<input type="text" readonly="readonly"
									th:value="${timetable.eventName}" class="form-control"
									name="eventName" />
							</div>

							<div class="col-md-4">
								<input type="text" readonly="readonly"
									th:value="${timetable.eventTime}" class="form-control"
									name="eventTime" />
							</div>
							<div class="col-md-1">
								<button type="submit" class="btn btn-default">Check</button>
							</div>
						</div>

					</form>
				</div>
				</div>
			</div>
		</div>
	<div class="container">
		<hr class="featurette-divider" />
		<footer>
			<p>&copy; 2014 Insomnia Club, Inc.</p>
		</footer>
	</div>

	<th:block th:replace="header :: scripts" />
</body>
</html>