<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:fb="http://www.facebook.com/2008/fbml">
<head>
  <th:block th:fragment="common_head (title)">
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title><th:block th:if="${title} != ''" th:text="${title} + ' - '"></th:block>InsomniaClub</title>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.2.0/css/bootstrap.min.css" />
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/jquery.bootstrapvalidator/0.5.0/css/bootstrapValidator.min.css" />
    <link rel="stylesheet" href="//cdn.jsdelivr.net/bootstrap.tagsinput/0.4.2/bootstrap-tagsinput.css" /> 
    <link rel="stylesheet" href="//wbotelhos.com/raty/lib/jquery.raty.css" />
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/jasny-bootstrap/3.1.3/css/jasny-bootstrap.min.css" />
    <link rel="stylesheet" href="../css/carousel.css" />
  </th:block>
</head>
<body>
  <header th:fragment="header (item)" class="navbar navbar-inverse" role="banner">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle"
          data-toggle="collapse" data-target="#navbar-collapse">
          <span class="sr-only">Toggle navigation</span> <span
            class="icon-bar"></span> <span class="icon-bar"></span> <span
            class="icon-bar"></span>
        </button>
        <a class="navbar-brand" th:href="@{/insomniaclub}">InsomniaClub</a>
      </div>
      <div class="collapse navbar-collapse" id="navbar-collapse">
        <th:block th:if="${session.user == null}">
          <ul class="nav navbar-nav navbar-right">
            <li th:class="${item} == 'signup' ? 'active' : ''"><a th:href="@{/insomniaclub/signup}">Sign Up</a></li>
            <li><a id="loginButton" href="#">Login</a></li>
          </ul>
        </th:block>
        <th:block th:if="${session.user}">
          <ul class="nav navbar-nav">
            <li th:class="${item} == 'suggestion' ? 'dropdown active' : 'dropdown'">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Suggestion<span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="/insomniaclub/suggestion">View Suggestions</a></li>
                  <li><a href="/insomniaclub/propose">Propose a Suggestion</a></li>
                </ul>
            </li>
            
            <li th:class="${item} == 'survey form' ? 'dropdown active' : 'dropdown'">
             <a href="#" class="dropdown-toggle" data-toggle="dropdown">Schedule<span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
            		<li><a th:href="@{'/insomniaclub/surveyform'}">Change Schedule</a></li>
                	<li><a th:href="@{'/insomniaclub/timetable'}">TimeTable</a></li>
                	<li><a th:href="@{'/insomniaclub/eventcheck'}">Event Check</a></li>
              
                </ul>
            </li>
            <li th:class="${item} == 'videos' ? 'dropdown active' : 'dropdown'">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Videos<span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="/insomniaclub/videos">Everytime you get different videos</a></li>
                  <li><a href="/insomniaclub/videos/intro">What is Insomnia</a></li>
                  <li><a href="/insomniaclub/videos/exe">Bedtime Exercise</a></li>
                  <li><a href="/insomniaclub/videos/overcome">Overcome Insomnia</a></li>
                </ul>
            </li>
            <li th:class="${item} == 'music' ? 'dropdown active' : 'dropdown'">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Music<span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="/insomniaclub/music">Music List</a></li>
                  <li><a href="/insomniaclub/addmusic">Add Music</a></li>
                </ul>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li th:class="${item} == 'profile' ? 'active' : ''"><a th:href="@{'/insomniaclub/profile'}"
                   th:text="${session.user.firstName} + ' ' + ${session.user.lastName}"></a></li>
            <li><a id="logoutButton" href="#">Logout</a></li>
          </ul>
        </th:block>
      </div>
    </div>
  </header>
  <th:block th:fragment="scripts">
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery.bootstrapvalidator/0.5.0/js/bootstrapValidator.min.js"></script>
    <script src="//cdn.jsdelivr.net/bootstrap.tagsinput/0.4.2/bootstrap-tagsinput.min.js"></script>
    <script src="//oss.maxcdn.com/bootbox/4.2.0/bootbox.min.js"></script>
    <script type="text/javascript" src="//wbotelhos.com/raty/lib/jquery.raty.js"></script>
    <script type="text/javascript" src="//connect.facebook.net/en_US/all.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jasny-bootstrap/3.1.3/js/jasny-bootstrap.min.js"></script>
    <script type="text/javascript">
    $(document).ready(function() {
      var alert = $('#alert').text();
      if (alert) {
        bootbox
          .dialog({
              title: 'Login',
              message: $('#loginForm'),
              show: false
          })
          .on('shown.bs.modal', function() {
              $('#loginForm')
                  .show()                                
                  .bootstrapValidator('resetForm', true)
                  .bootstrapValidator('resetField', 'alert'); 
          })
          .on('hide.bs.modal', function(e) {
              $('#loginForm').hide().appendTo('body');
          })
          .modal('show');
      }
        $('#loginForm')
            .bootstrapValidator({
                feedbackIcons: {
                    valid: 'glyphicon glyphicon-ok',
                    invalid: 'glyphicon glyphicon-remove',
                    validating: 'glyphicon glyphicon-refresh'
                },
                fields: {
                    email: {
                        validators: {
                            notEmpty: {
                                message: 'Email is required'
                            }
                        }
                    },
                    password: {
                        validators: {
                            notEmpty: {
                                message: 'Password is required'
                            }
                        }
                    }
                }
            });

        $('#loginButton').on('click', function() {
            bootbox
                .dialog({
                    title: 'Login',
                    message: $('#loginForm'),
                    show: false
                })
                .on('shown.bs.modal', function() {
                    $('#loginForm')
                        .show()                                
                        .bootstrapValidator('resetForm', true); 
                })
                .on('hide.bs.modal', function(e) {
                    $('#loginForm').hide().appendTo('body');
                })
                .modal('show');
        });
    });
    </script>
    <script type="text/javascript">
      window.fbAsyncInit = function() {
        FB.init({
          appId      : '653450874752998',
          cookie     : false,  // enable cookies to allow the server to access 
                              // the session
          xfbml      : true,  // parse social plugins on this page
          version    : 'v2.1' // use version 2.1
        });
      };
      $('#logoutButton').on('click', function() {
    	  FB.getLoginStatus(function (response) {
    	      if (response.authResponse) {
    	          FB.logout();
    	      }
    	  });
    	  window.location = "/insomniaclub/logout";
      });
    </script>
  </th:block>
    
</body>
</html>