<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
                xmlns:fb="http://www.facebook.com/2008/fbml">
  <head>
    <th:block th:replace="header :: common_head ('')"></th:block>
    <style>
      .carousel .item {
        height: 350px;
      }
      
      .panel-primary {
        border-color: #222;
      }
      .panel-primary > .panel-heading {
        color: #fff;
        background-color: #222;
        border-color: #222;
      }
      .panel-primary > .panel-heading + .panel-collapse .panel-body {
        border-top-color: #222;
      }
      .panel-primary > .panel-footer + .panel-collapse .panel-body {
        border-bottom-color: #222;
      }
    </style>
  </head>
  <body background = "../images/bg.jpg">
    <header th:replace="header :: header('')"></header>
    <div class="container">
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
      </ol>
      <div class="carousel-inner">
        <div class="item active">
          <img src="../images/4.jpg" alt="First slide" />
          <div class="container">
            <div class="carousel-caption">
              <h2 align="left">Suggestions to sleep better every night</h2>
              <p align="left">Propose your suggestions, and compare with others!</p>
              <p align="left"><a class="btn btn-default" role="button" href="insomniaclub/suggestion">Detail</a></p>
            </div>
          </div>
        </div>
        <div class="item">
          <img src="../images/5.jpg" alt="Second slide" />
          <div class="container">
            <div class="carousel-caption">
              <h2 align="right">Track your sleep</h2>
              <p align="right">Set up a daily schedule, build up good habits!</p>
              <p align="right"><a class="btn btn-default" role="button" href="insomniaclub/timetable">Detail</a></p>
            </div>
          </div>
        </div>
        <div class="item">
          <img src="../images/6.jpg" alt="Third slide" />
          <div class="container">
            <div class="carousel-caption">
              <h2 align="left">Videos</h2>
              <p align="left">Show good tips and exercise!</p>
              <p align="left"><a class="btn btn-default" role="button" href="insomniaclub/videos">Detail</a></p>
            </div>
          </div>
        </div>
        <div class="item">
          <img src="../images/7.jpg" alt="Fourth slide" />
          <div class="container">
            <div class="carousel-caption">
              <h2 align="right">Music</h2>
              <p align="right">Relaxing music to help sleep!</p>
              <p align="right"><a class="btn btn-default" role="button" href="insomniaclub/music">Detail</a></p>
            </div>
          </div>
        </div>
      </div>
      <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
      <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
    </div><!-- /.carousel -->
    <!-- Top 10 Suggestions -->
       <div class="panel panel-primary">
         <div class="panel-heading">
           <h4 class="panel-title"><span class="glyphicon glyphicon-star"></span> Top 10 Suggestions</h4>
         </div>
         <div class="panel-body">
           <div class="col-md-8">
             <table class="table table-hover">
               <tr>
                 <th>Suggestion</th>
                 <th></th>
                 <th>Rating</th>
               </tr>
               <tr th:each="suggestion:${suggestions}">
                 <td>
                   <a th:href="@{'insomniaclub/suggestion/'+${suggestion.suggestion.id}}"
                     th:text="${suggestion.suggestion.title}"></a>
                 </td>
                 <td align="right" th:text="${suggestion.avgRating}"></td>
                 <td>
                   <div th:id="@{'ratyRating'+${suggestion.suggestion.id}}"></div>
                   <input type="hidden" th:id="@{'target'+${suggestion.suggestion.id}}" name="rating" />
                   <input type="hidden" th:id="@{'rated'+${suggestion.suggestion.id}}" th:value="${suggestion.avgRating}" />
                 </td>
               </tr>
             </table>
            </div>
            <div class="col-md-4">
              <p align="center"><img width="300px" src="../images/top-10.jpg" /></p>
            </div>
          </div>
        </div>
        <input type="hidden" id="suggestionid" th:value="${suggestionlist}" />
        
        <!-- Top 5 Videos -->
       <div class="panel panel-primary">
         <div class="panel-heading">
           <h4 class="panel-title"><span class="glyphicon glyphicon-star"></span> Top 5 Videos</h4>
         </div>
         <div class="panel-body">
           <div class="col-md-4">
              <p align="center"><img width="300px" src="../images/top-5.jpg" /></p>
           </div>
           <div class="col-md-8">
             <table class="table table-hover">
               <tr>
                 <th>Video title</th>
                 <th></th>
                 <th>Rating</th>
               </tr>
               <tr th:each="video:${videos}">
                 <td th:text="${video.video.videotitle}">
                 </td>
                 <td align="right" th:text="${video.avgRating}"></td>
                 <td>
                   <div th:id="@{'vRating'+${video.video.videoid}}"></div>
                   <input type="hidden" th:id="@{'vtarget'+${video.video.videoid}}" name="rating" />
                   <input type="hidden" th:id="@{'vrated'+${video.video.videoid}}" th:value="${video.avgRating}" />
                 </td>
               </tr>
             </table>
            </div>
          </div>
        </div>
        <input type="hidden" id="videoid" th:value="${videolist}" />
        
    <!-- different type of people insomnia -->
       <div class="panel panel-primary">
         <div class="panel-heading">
           <h4 class="panel-title"><span class="glyphicon glyphicon-signal"></span> How many work, study or retire people insomnia?</h4>
         </div>
         <div class="panel-body">
           <div class="col-md-6">
              <p align="center"><img width="450px" src="../images/insomnia.jpg" /></p>
           </div>
           <div class="col-md-6" id="chart_div" style="height: 300px;">
           </div>
         </div>
       </div>
     <!-- how many time of on time check about get up and sleep -->
     <div class="col-md-6">
       <div class="panel panel-primary">
         <div class="panel-heading">
           <h4 class="panel-title"><span class="glyphicon glyphicon-signal"></span> History of your check</h4>
         </div>
         <div class="panel-body">
           <div id="chart_divevent" class="col-md-6" style="width: 400px; height: 250px;">
           </div>
         </div>
       </div>
     </div>
     <!-- each month on time check -->
     <div class="col-md-6">
       <div class="panel panel-primary">
         <div class="panel-heading">
           <h4 class="panel-title"><span class="glyphicon glyphicon-signal"></span> Check on time each month</h4>
         </div>
         <div class="panel-body">
           <div class="col-md-6" id="chart_divmonth" style="width: 400px; height: 250px;">
           </div>
         </div>
       </div>
     </div>
    </div>
    
    <th:block th:replace="header :: scripts" />
    
    <form id="form" name = "surveyform" method="post" class="form-horizontal" th:action="@{/insomniaclub/surveyform}">
    <div class="container">
		 <input type="hidden" id="insomniapeopleid" name="study" th:value="${study}" />
		 <input type="hidden" id="insomniapeopleid" name="work" th:value="${work}" />
		 <input type="hidden" id="insomniapeopleid" name="retire" th:value="${retire}" />
   		 <input type="hidden" id="peopletimetableid" name="getup" th:value="${getup}" />
		 <input type="hidden" id="peopletimetableid" name="sleep" th:value="${sleep}" />
   		 <input type="hidden" id="month" name="jan" th:value="${jan}"/>
   		 <input type="hidden" id="month" name="feb" th:value="${feb}"/>
   		 <input type="hidden" id="month" name="mar" th:value="${mar}"/>
   		 <input type="hidden" id="month" name="apr" th:value="${apr}"/>
   		 <input type="hidden" id="month" name="may" th:value="${may}"/>
   		 <input type="hidden" id="month" name="jun" th:value="${jun}"/>
   		 <input type="hidden" id="month" name="jul" th:value="${jul}"/>
   		 <input type="hidden" id="month" name="aug" th:value="${aug}"/>
   		 <input type="hidden" id="month" name="sep" th:value="${sep}"/>
   		 <input type="hidden" id="month" name="oce" th:value="${oce}"/>
   		 <input type="hidden" id="month" name="nov" th:value="${nov}"/>
   		 <input type="hidden" id="month" name="dec" th:value="${dec}"/>
    </div>
    </form>
<!-- different type of people insomnia -->
	<script type="text/javascript" src="https://www.google.com/jsapi?autoload={'modules':[{'name':'visualization','version':'1','packages':['corechart']}]}">
      </script>
    
    <script type="text/javascript">
      google.load("visualization", "1", {packages:["corechart"]});
      google.setOnLoadCallback(drawChart);
      var $form = $('#form');
      var study = parseInt($('#form input[name=study]').val());
      var work = parseInt($('#form input[name=work]').val());
      var retire = parseInt($('#form input[name=retire]').val());
      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['People',  'number of people'],
          ['Work',  work],
          ['Study', study],
          ['Retire', retire]
        ]);

        var options = {
          title: 'How many work, study or retire people insomnia?',
          vAxis: {title: 'people',  titleTextStyle: {color: 'red'}}
        };

        var chart = new google.visualization.PieChart(document.getElementById('chart_div'));

        chart.draw(data, options);
      }
      
    </script>
    <!--  -->
    <!-- how many time of on time check about get up and sleep -->
    <script type="text/javascript" src="https://www.google.com/jsapi?autoload={'modules':[{'name':'visualization','version':'1','packages':['corechart']}]}">
      </script>
    
    <script type="text/javascript">
      google.load("visualization", "1", {packages:["corechart"]});
      google.setOnLoadCallback(drawChart);
      var $formevent = $('#form');
      var getup = parseInt($('#form input[name=getup]').val());
      var sleep = parseInt($('#form input[name=sleep]').val());
      function drawChart() {
        var dataevent = google.visualization.arrayToDataTable([
          ['Event',  'number of check'],
          ['Get up',  getup],
          ['Sleep', sleep],
        ]);

        var optionsevent = {
          title: 'History of your check',
          vAxis: {title: 'Event',  titleTextStyle: {color: 'red'}}
        };

        var chartevent = new google.visualization.BarChart(document.getElementById('chart_divevent'));

        chartevent.draw(dataevent, optionsevent);
      }
    </script>
    <!--  -->
    <!-- each month on time check -->
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
      google.load("visualization", "1", {packages:["corechart"]});
      google.setOnLoadCallback(drawChart);
      var $formevent = $('#form');
      var jan = parseInt($('#form input[name=jan]').val());
      var feb = parseInt($('#form input[name=feb]').val());
      var mar = parseInt($('#form input[name=mar]').val());
      var apr = parseInt($('#form input[name=apr]').val());
      var may = parseInt($('#form input[name=may]').val());
      var jun = parseInt($('#form input[name=jun]').val());
      var jul = parseInt($('#form input[name=jul]').val());
      var aug = parseInt($('#form input[name=aug]').val());
      var sep = parseInt($('#form input[name=sep]').val());
      var oce = parseInt($('#form input[name=oce]').val());
      var nov = parseInt($('#form input[name=nov]').val());
      var dec = parseInt($('#form input[name=dec]').val());
      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['Month', 'Check on time/ month'],
          ['JAN',  jan],
          ['FEB',  feb],
          ['MAR',  mar],
          ['APR',  apr],
          ['MAY',  may],
          ['JUN',  jun],
          ['JUL',  jul],
          ['AUG',  aug],
          ['SEP',  sep],
          ['OCE',  oce],
          ['NOV',  nov],
          ['DEC',  dec]
        ]);

        var options = {
          title: 'Check on time each month'
        };

        var chartmonth = new google.visualization.LineChart(document.getElementById('chart_divmonth'));

        chartmonth.draw(data, options);
      }
    </script>
    <!--  -->
    <!-- Top 10 suggestions -->
    <script type="text/javascript">
    $(document).ready(function() {
        var suggestionid = $('#suggestionid').val();
        var list = jQuery.parseJSON(suggestionid);
        $.each(list, function(index, value) {
          var rated = $('#rated'+value).val();
          $('#ratyRating'+value).raty({
                path: '//wbotelhos.com/raty/lib/images',
                size: 24,
                readOnly: true,
                scoreName: 'rating',
                showHalf:  true,
                score: function() {
                    return rated;
                }
           });
        });
    });
    </script>
    <!-- Top 10 suggestions -->
    
    <!-- Top 5 videos -->
    <script type="text/javascript">
    $(document).ready(function() {
        var videoid = $('#videoid').val();
        var list = jQuery.parseJSON(videoid);
        $.each(list, function(index, value) {
          var rated = $('#vrated'+value).val();
          $('#vRating'+value).raty({
                path: '//wbotelhos.com/raty/lib/images',
                size: 24,
                readOnly: true,
                scoreName: 'rating',
                showHalf:  true,
                score: function() {
                    return rated;
                }
           });
        });
    });
    </script>
    <!-- Top 5 videos -->
    
    <div class="container">
      <hr class="featurette-divider" />
      <footer>
        <p>&copy; 2014 Insomnia Club, Inc.</p>
      </footer>
    </div>
  </body>
</html>