<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
                xmlns:fb="http://www.facebook.com/2008/fbml">
  <head>
    <th:block th:replace="header :: common_head ('')"></th:block>
  </head>
  <body background = "../images/bg.jpg">
    <div class="navbar-wrapper">
      <div class="container">
        <header th:replace="header :: header('')"></header>
      </div>
    </div>
    <!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="item active">
          <img src="../images/1.jpg" alt="First slide" />
          <div class="container">
            <div class="carousel-caption">
              <h1>Insomnia Club</h1>
              <p>Help with your sleep!</p>
              <p><a id="learnmoreButton" class="btn btn-primary" role="button" href="#">Learn more</a></p>
            </div>
          </div>
        </div>
        <div class="item">
          <img src="../images/2.jpg" alt="Second slide" />
          <div class="container">
            <div class="carousel-caption">
              <h1>Good suggestions to sleep better every night</h1>
              <p>Propose your suggestions, and compare with others!</p>
              <p><a class="btn btn-primary" role="button" href="insomniaclub/signup">Sign up for free!</a></p>
            </div>
          </div>
        </div>
        <div class="item">
          <img src="../images/3.jpg" alt="Third slide" />
          <div class="container">
            <div class="carousel-caption">
              <h1>Track your sleep</h1>
              <p>Set up a daily schedule, build up good habits!</p>
              <p><a id="signinButton" class="btn btn-primary" role="button" href="#">Sign in</a></p>
            </div>
          </div>
        </div>
      </div>
      <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
      <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
    </div><!-- /.carousel -->
    <div class="container">
      <hr class="featurette-divider" />
      <footer>
        <p>&copy; 2014 Insomnia Club, Inc.</p>
      </footer>
    </div>
      <form id="loginForm" method="post" class="form-horizontal" th:action="@{/insomniaclub}" style="display: none;">
        <div id="alert" class="alert alert-danger" role="alert"
            th:if="${loginerror}" th:text="${loginerror}"></div>
        <div class="form-group">
          <label class="col-md-3 control-label">Email</label>
          <div class="col-md-6">
            <input type="text" class="form-control" name="email" />
          </div>
        </div>

        <div class="form-group">
          <label class="col-md-3 control-label">Password</label>
          <div class="col-md-6">
            <input type="password" class="form-control" name="password" />
          </div>
        </div>

        <div class="form-group">
          <div class="col-md-6 col-md-offset-3">
            <button type="submit" class="btn btn-default">Login</button>
          </div>
        </div>
        <div class="form-group">
        <div class="col-md-3 col-md-offset-5">
          <fb:login-button size="large" scope="public_profile,email" onlogin="checkLoginState();">
                Login with Facebook
          </fb:login-button>
        </div>
        </div>
      </form>

    <th:block th:replace="header :: scripts" />
    <script type="text/javascript">
    $(document).ready(function() {
        $('#learnmoreButton').on('click', function() {
            bootbox
                .dialog({
                    title: 'Login',
                    message: $('#loginForm'),
                    show: false
                })
                .on('shown.bs.modal', function() {
                    $('#loginForm')
                        .show()                                
                        .bootstrapValidator('resetForm', true); 
                })
                .on('hide.bs.modal', function(e) {
                    $('#loginForm').hide().appendTo('body');
                })
                .modal('show');
        });
        
        $('#signinButton').on('click', function() {
            bootbox
                .dialog({
                    title: 'Login',
                    message: $('#loginForm'),
                    show: false
                })
                .on('shown.bs.modal', function() {
                    $('#loginForm')
                        .show()                                
                        .bootstrapValidator('resetForm', true); 
                })
                .on('hide.bs.modal', function(e) {
                    $('#loginForm').hide().appendTo('body');
                })
                .modal('show');
        });
    });
    </script>
    <script type="text/javascript">
      function statusChangeCallback(response) {
        if (response.status === 'connected') {
          login();
        }
      }

      function checkLoginState() {
        FB.getLoginStatus(function(response) {
          statusChangeCallback(response);
        });
      }

      (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));

      function login() {
        FB.api('/me', function(response) {
          var form = document.createElement("form");
            form.action = "/insomniaclub/facebook";
            form.method = "post";
            var email = document.createElement("input");
            email.type = "hidden";
            email.name = "email";
            email.value = response.email;
            var firstname = document.createElement("input");
            firstname.type = "hidden";
            firstname.name = "firstName";
            firstname.value = response.first_name;
            var lastname = document.createElement("input");
            lastname.type = "hidden";
            lastname.name = "lastName";
            lastname.value = response.last_name;
            form.appendChild(email);
            form.appendChild(firstname);
            form.appendChild(lastname);
            document.body.appendChild(form);
            form.submit();
        });
      }
    </script>
  </body>
</html>