<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
                xmlns:th="http://www.thymeleaf.org"
                xmlns:fb="http://www.facebook.com/2008/fbml">
  <head>
    <th:block th:replace="header :: common_head ('Music')"></th:block>
  </head>
  <style>
    .panel-primary {
      border-color: #222;
    }
    .panel-primary > .panel-heading {
      color: #ffffff;
      background-color: #222;
      border-color: #222;
    }
    .panel-primary > .panel-heading + .panel-collapse .panel-body {
      border-top-color: #222;
    }
    .panel-primary > .panel-footer + .panel-collapse .panel-body {
      border-bottom-color: #222;
    }
  </style>
  <body background = "../images/bg.jpg">
    <header th:replace="header :: header('music')"></header>
    <div class="container">
       <div class="panel panel-primary">
          <div class="panel-heading">
              <h4 class="panel-title"><span class="glyphicon glyphicon-music"></span> Music</h4>
          </div>
        <div class="panel-body">
	        <form action="/insomniaclub/music" class="form-inline" name="musicform"  method="post">
        	  Search by Music Name：<input type="text" class="form-control"  name="keyword" />
	          <input class="btn btn-default" type="submit" value="Search" />
	        </form>
	        <table class="table table-hover">
			  <tr>
				<th>Music Name</th>
				<th>Music Type</th>
				<th> Singer  </th>
				<th>Keyword1</th>
				<th>Keyword2</th>
				<th>Keyword3</th>
				<th> Uploader  </th>
				<th>Play</th>
			  </tr>
			  <tr th:each="music:${musiclist}">
				<td th:text="${music.musicname}"></td>
				<td th:text="${music.musictype}"></td>
				<td th:text="${music.singer}"></td>
				<td th:text="${music.keyword1}"></td>
				<td th:text="${music.keyword2}"></td>
				<td th:text="${music.keyword3}"></td>
				<td th:text="${music.user.firstName}+' '+${music.user.lastName}"></td>
				<td>
				  <audio controls="controls">
				    <source th:src="@{'music/'+${music.id}}" type="audio/mpeg" />
				  </audio>
				</td>
			  </tr>
	        </table>
        </div>
      </div>
    </div>
    <div class="container">
      <hr class="featurette-divider" />
      <footer>
        <p>&copy; 2014 Insomnia Club, Inc.</p>
      </footer>
    </div>
    <th:block th:replace="header :: scripts" />
  </body>
</html>