<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
                xmlns:fb="http://www.facebook.com/2008/fbml">
  <head>
    <th:block th:replace="header :: common_head ('Sign up')"></th:block>
  </head>
  <style>
    .panel-primary {
      border-color: #222;
    }
    .panel-primary > .panel-heading {
      color: #ffffff;
      background-color: #222;
      border-color: #222;
    }
    .panel-primary > .panel-heading + .panel-collapse .panel-body {
      border-top-color: #222;
    }
    .panel-primary > .panel-footer + .panel-collapse .panel-body {
      border-bottom-color: #222;
    }
  </style>
  <body background = "../images/bg.jpg">
    <header th:replace="header :: header('signup')"></header>
    <div class="container">
      <div class="panel panel-primary">
          <div class="panel-heading">
              <h4 class="panel-title"><span class="glyphicon glyphicon-star"></span> Sign up</h4>
          </div>
        <div class="panel-body">
          <form id="form" method="post" class="form-horizontal" th:action="@{/insomniaclub/signup}">
            <div class="form-group">
              <label class="col-md-3 control-label">Email Address</label>
              <div class="col-md-4">
                <input type="email" class="form-control" name="email" />
                <input type="hidden" id="emailverifier" th:value="@{/insomniaclub/verify}" />
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-3 control-label">Password</label>
              <div class="col-md-4">
                <input type="password" class="form-control" name="password" />
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-3 control-label">Confirm Password</label>
              <div class="col-md-4">
                <input type="password" class="form-control" name="confirmPassword" />
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-3 control-label">First Name</label>
              <div class="col-md-4">
                <input type="text" class="form-control" name="firstName" />
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-3 control-label">Last Name</label>
              <div class="col-md-4">
                <input type="text" class="form-control" name="lastName" />
              </div>
            </div>
            <div class="form-group">
              <div class="col-md-3 col-md-offset-3">
                <button type="submit" class="btn btn-default">Sign up</button>
              </div>
            </div>
          </form>
          <div class="col-md-3 col-md-offset-5">
              <fb:login-button size="large" scope="public_profile,email" onlogin="checkLoginState();">
                Login with Facebook
              </fb:login-button>
          </div>
        </div>
      <form id="loginForm" method="post" class="form-horizontal" th:action="@{/insomniaclub}" style="display: none;">
        <div id="alert" class="alert alert-danger" role="alert"
            th:if="${loginerror}" th:text="${loginerror}"></div>
        <div class="form-group">
          <label class="col-md-3 control-label">Email</label>
          <div class="col-md-6">
            <input type="text" class="form-control" name="email" />
          </div>
        </div>

        <div class="form-group">
          <label class="col-md-3 control-label">Password</label>
          <div class="col-md-6">
            <input type="password" class="form-control" name="password" />
          </div>
        </div>

        <div class="form-group">
          <div class="col-md-6 col-md-offset-3">
            <button type="submit" class="btn btn-default">Login</button>
          </div>
        </div>
        <div class="form-group">
        <div class="col-md-3 col-md-offset-5">
          <fb:login-button size="large" scope="public_profile,email" onlogin="checkLoginState();">
                Login with Facebook
          </fb:login-button>
        </div>
        </div>
      </form>
    </div>
      <hr class="featurette-divider" />
      <footer>
        <p>&copy; 2014 Insomnia Club, Inc.</p>
      </footer>
    </div>
    <th:block th:replace="header :: scripts" />
    <script type="text/javascript">
      // <![CDATA[
      var $form = $('#form');
      var emailValid;
      $form.bootstrapValidator({
        feedbackIcons: {
          valid: 'glyphicon glyphicon-ok',
          invalid: 'glyphicon glyphicon-remove',
          validating: 'glyphicon glyphicon-refresh'
        },
        fields: {
          email: {
            validators: {
              notEmpty: {
                message: "Email address cannot be empty."
              },
              emailAddress: {
                message: "It is not a valid email address."
              },
              callback: {
                callback: function() {
                  if (!emailValid)
                   	return true;
                  if (emailValid) {
                    return {
                      valid: false,
                      message: "Email has been registered. Please login."
                    };
                  }
                  return true;
                }
              }
            }
          },
          password: {
            validators: {
              notEmpty: {
                message: "Password cannot be empty."
              },
              stringLength: {
                min: 6,
                message: "Password must have at least 6 characters."
              }
            }
          },
          confirmPassword: {
            validators: {
              notEmpty: {
                message: "Confirm password cannot be empty."
              },
              identical: {
                field: 'password',
                message: "Password and confirm are not the same."
              }
            }
          },
          firstName: {
            validators: {
              notEmpty: {
                message: "First name cannot be empty."
              }
            }
          },
          lastName: {
            validators: {
              notEmpty: {
                message: "Last name cannot be empty."
              }
            }
          }
        }
      });
      
      $('#form input[name=email]').change(function() {
          var validator = $form.data('bootstrapValidator');
          emailValid = null;
          validator.revalidateField('email');
          if (!validator.isValidField('email'))
            return;
          validator.updateStatus('email', 'VALIDATING');
          $.ajax({
            url: $('#emailverifier').val(),
            data: { email: $(this).val() },
            dataType: 'json'
          }).then(function(data) {
            emailValid = data;
            validator.revalidateField('email');
          }, function() {
            validator.updateStatus('email', 'NOT_VALIDATED');
          });
        });
      
      // ]]>
    </script>
    <script type="text/javascript">
      function statusChangeCallback(response) {
        if (response.status === 'connected') {
          login();
        }
      }

      function checkLoginState() {
        FB.getLoginStatus(function(response) {
          statusChangeCallback(response);
        });
      }

      (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));

      function login() {
        FB.api('/me', function(response) {
          var form = document.createElement("form");
            form.action = "facebook";
            form.method = "post";
            var email = document.createElement("input");
            email.type = "hidden";
            email.name = "email";
            email.value = response.email;
            var firstname = document.createElement("input");
            firstname.type = "hidden";
            firstname.name = "firstName";
            firstname.value = response.first_name;
            var lastname = document.createElement("input");
            lastname.type = "hidden";
            lastname.name = "lastName";
            lastname.value = response.last_name;
            form.appendChild(email);
            form.appendChild(firstname);
            form.appendChild(lastname);
            document.body.appendChild(form);
            form.submit();
        });
      }
    </script>
  </body>
</html>