<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
                xmlns:fb="http://www.facebook.com/2008/fbml">
  <head>
    <th:block th:replace="header :: common_head ('View Suggestions')"></th:block>
  </head>
  <style>
    a {
      color: #a8a8a1;
      text-decoration: none;
    }
    a:hover,
    a:focus {
      color: #ffffff;
      text-decoration: underline;
    }
    a:focus {
      outline: thin dotted #333;
      outline: 5px auto -webkit-focus-ring-color;
      outline-offset: -2px;
    }
    .panel-primary {
      border-color: #222;
    }
    .panel-primary > .panel-heading {
      color: #ffffff;
      background-color: #222;
      border-color: #222;
    }
    .panel-primary > .panel-heading + .panel-collapse .panel-body {
      border-top-color: #222;
    }
    .panel-primary > .panel-footer + .panel-collapse .panel-body {
      border-bottom-color: #222;
    }
  </style>
  <body background = "../images/bg.jpg">
    <header th:replace="header :: header('suggestion')"></header>
    <div class="container">
      <input type="hidden" id="suggestionid" th:value="${list}" />
      <div th:each="suggestion:${suggestions}" id="accordion" class="panel-group">
        <div class="panel panel-primary">
          <div class="panel-heading">
              <h4 class="panel-title">
                <span class="glyphicon glyphicon-list">
                  <a th:text="${suggestion.title}" data-toggle="collapse" data-parent="#accordion" th:href="@{'#'+${suggestion.id}}"></a>
                </span>
                <a class="pull-right" th:text="@{View details}" th:href="@{'suggestion/'+${suggestion.id}}"></a>
              </h4>
          </div>
          <div th:id="${suggestion.id}" class="panel-collapse collapse">
              <div class="panel-body">
                 <div class="container">
                   <div class="col-md-8" style="word-break:break-all" th:text="${suggestion.description}"></div>
                   <br/><br/>
                   <br/><br/>
                   <div class="col-md-8" th:text="'By '+${suggestion.user.firstName}+' '+${suggestion.user.lastName}"></div>
                 </div>
                 <div class="pull-right">
                   <fb:share-button type="button" th:href="@{'http://54.165.76.244:8080/insomniaclub/suggestion/'+${suggestion.id}}">
                     Share
                   </fb:share-button>
                 </div>
                 <br/><br/>
                 <br/><br/>
                 <form th:id="@{'ratyForm'+${suggestion.id}}" method="post" class="form-horizontal" th:action="@{'/insomniaclub/suggestion/'+${suggestion.id}}">
                   <div class="form-group">
                     <label th:id="@{'ratinglabel'+${suggestion.id}}" class="col-md-2 control-label">Rating</label>
                     <div class="col-md-2">
                       <div th:id="@{'ratyRating'+${suggestion.id}}"></div>
                       <input type="hidden" th:id="@{'target'+${suggestion.id}}" name="rating" />
                       <input type="hidden" th:id="@{'rated'+${suggestion.id}}" th:value="${suggestion.rating}" />
                     </div>
                   </div>
                   <div class="form-group">
                     <label class="col-md-2 control-label">Comment</label>
                       <div class="col-md-6">
                         <textarea rows="6" class="form-control" name="comment"></textarea>
                       </div>
                   </div>
                   <div class="form-group">
                     <div class="col-md-6 col-md-offset-1">
                       <button type="submit" class="btn btn-default">Submit</button>
                     </div>
                   </div>
                 </form>
              </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <hr class="featurette-divider" />
      <footer>
        <p>&copy; 2014 Insomnia Club, Inc.</p>
      </footer>
    </div>
    <th:block th:replace="header :: scripts" />
    <script type="text/javascript">
    $(document).ready(function() {
        var suggestionid = $('#suggestionid').val();
        var list = jQuery.parseJSON(suggestionid);
		$.each(list, function(index, value) {
			var rated = $('#rated'+value).val();
			if (rated > 0) {
				$('#ratinglabel'+value).text('Your rating');
				$('#ratyRating'+value).raty({
		            path: '//wbotelhos.com/raty/lib/images',
		            size: 24,
		            readOnly: true,
		            scoreName: 'rating',
		            targetScore: '#target'+value,
	    	    	score: function() {
	    	    	    return rated;
	    	    	}
		        });
	    		
	    		$('#ratyForm'+value)
	            .bootstrapValidator({
	                excluded: ':disabled',
	                feedbackIcons: {
	                    valid: 'glyphicon glyphicon-ok',
	                    invalid: 'glyphicon glyphicon-remove',
	                    validating: 'glyphicon glyphicon-refresh'
	                },
	                fields: {
	                    comment: {
	                        validators: {
	                            notEmpty: {
	                                message: 'The comment is required'
	                            }
	                        }
	                    }
	                }
	            });
			}
			else {
		  	  $('#ratyRating'+value).raty({
	              path: '//wbotelhos.com/raty/lib/images',
	              size: 24,
	              scoreName: 'rating',
	              targetScore: '#target'+value
	          });
			
        	  $('#ratyForm'+value)
              .bootstrapValidator({
                  excluded: ':disabled',
                  feedbackIcons: {
                      valid: 'glyphicon glyphicon-ok',
                      invalid: 'glyphicon glyphicon-remove',
                      validating: 'glyphicon glyphicon-refresh'
                  },
                  fields: {
                      rating: {
                          validators: {
                              notEmpty: {
                                  message: 'The rating is required'
                              }
                          }
                      },
                      comment: {
                          validators: {
                              notEmpty: {
                                  message: 'The comment is required'
                              }
                          }
                      }
                  }
              });
			}
		});
    });
    </script>
  </body>
</html>