<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:og="http://ogp.me/ns#"
                xmlns:th="http://www.thymeleaf.org"
                xmlns:fb="http://www.facebook.com/2008/fbml">
  <head>
    <th:block th:replace="header :: common_head ('View Suggestions')"></th:block>
    <meta name="title" content="Suggestion" />
    <meta name="description" content="This is a suggestion of helping with sleep" />
  </head>
  <style>
    a {
      color: #a8a8a1;
      text-decoration: none;
    }
    a:hover,
    a:focus {
      color: #ffffff;
      text-decoration: underline;
    }
    a:focus {
      outline: thin dotted #333;
      outline: 5px auto -webkit-focus-ring-color;
      outline-offset: -2px;
    }
    .panel-primary {
      border-color: #222;
    }
    .panel-primary > .panel-heading {
      color: #ffffff;
      background-color: #222;
      border-color: #222;
    }
    .panel-primary > .panel-heading + .panel-collapse .panel-body {
      border-top-color: #222;
    }
    .panel-primary > .panel-footer + .panel-collapse .panel-body {
      border-bottom-color: #222;
    }
  </style>
  <body background = "../../images/bg.jpg">
    <header th:replace="header :: header('suggestion')"></header>
    <div class="container">
      <div id="accordion" class="panel-group">
        <div class="panel panel-primary">
          <div class="panel-heading">
              <h4 th:text="${suggestion.title}" class="panel-title">
              </h4>
          </div>
          <div class="panel-body">
             <div class="container">
               <div class="col-md-8" style="word-break:break-all" th:text="${suggestion.description}"></div>
               <br/><br/>
               <br/><br/>
               <div class="col-md-8" th:text="'By '+${suggestion.user.firstName}+' '+${suggestion.user.lastName}"></div>
             </div>
             <div class="pull-right">
                 <fb:share-button type="button" th:href="@{'http://54.165.76.244:8080/insomniaclub/suggestion/'+${suggestion.id}}">
                   Share
                 </fb:share-button>
             </div>
          </div>
        </div>
        
        <input type="hidden" id="commentid" th:value="${commentlist}" />
        <div class="panel panel-primary">
          <div class="panel-heading">
              <h4 th:text="@{Comments}" class="panel-title">
              </h4>
          </div>
          <div class="panel-body">
            <table class="table table-hover">
              <tr>
                <th>User</th>
                <th>Rating</th>
                <th>Comment</th>
              </tr>
              <tr th:each="comment:${result}">
                <td th:text="@{${comment.user.firstName}+' '+${comment.user.lastName}}"></td>
                <td>
                  <div th:id="@{'raty'+${comment.id}}"></div>
                  <div th:id="@{'ratyvalue'+${comment.id}}" th:text="${comment.rating}"></div>
                </td>
                <td th:text="${comment.comment}"></td>
              </tr>
            </table>
          </div>
        </div>
        
        <div class="panel panel-primary">
          <div class="panel-heading">
              <h4 th:text="@{Your comment}" class="panel-title">
              </h4>
          </div>
          <div class="panel-body">
             <form th:id="@{ratyForm}" method="post" class="form-horizontal" th:action="@{'/insomniaclub/suggestion/'+${suggestion.id}}">
               <div class="form-group">
                 <label id="ratinglabel" class="col-md-2 control-label">Rating</label>
                 <div class="col-md-2">
                   <div th:id="@{ratyRating}"></div>
                   <input type="hidden" id="rated" th:value="${rated}" />
                   <input type="hidden" th:id="@{target}" name="rating" />
                 </div>
               </div>
               <div class="form-group">
                 <label class="col-md-2 control-label">Comment</label>
                   <div class="col-md-6">
                     <textarea rows="6" class="form-control" name="comment"></textarea>
                   </div>
               </div>
               <div class="form-group">
                 <div class="col-md-6 col-md-offset-1">
                   <button type="submit" class="btn btn-default">Submit</button>
                 </div>
               </div>
             </form>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <hr class="featurette-divider" />
      <footer>
        <p>&copy; 2014 Insomnia Club, Inc.</p>
      </footer>
      </div>
    <th:block th:replace="header :: scripts" />
    <script type="text/javascript">
    $(document).ready(function() {
    	var rated = $('#rated').val();
    	if (rated > 0) {
    		$('#ratinglabel').text('Your rating');
    		$('#ratyRating').raty({
	            path: '//wbotelhos.com/raty/lib/images',
	            size: 24,
	            readOnly: true,
	            scoreName: 'rating',
	            targetScore: '#target',
    	    	score: function() {
    	    	    return rated;
    	    	}
	        });
    		
    		$('#ratyForm')
            .bootstrapValidator({
                excluded: ':disabled',
                feedbackIcons: {
                    valid: 'glyphicon glyphicon-ok',
                    invalid: 'glyphicon glyphicon-remove',
                    validating: 'glyphicon glyphicon-refresh'
                },
                fields: {
                    comment: {
                        validators: {
                            notEmpty: {
                                message: 'The comment is required'
                            }
                        }
                    }
                }
            });
    	}
    	else {
			$('#ratyRating').raty({
	            path: '//wbotelhos.com/raty/lib/images',
	            size: 24,
	            scoreName: 'rating',
	            targetScore: '#target'
	        });
			
        	$('#ratyForm')
            .bootstrapValidator({
                excluded: ':disabled',
                feedbackIcons: {
                    valid: 'glyphicon glyphicon-ok',
                    invalid: 'glyphicon glyphicon-remove',
                    validating: 'glyphicon glyphicon-refresh'
                },
                fields: {
                    rating: {
                        validators: {
                            notEmpty: {
                                message: 'The rating is required'
                            }
                        }
                    },
                    comment: {
                        validators: {
                            notEmpty: {
                                message: 'The comment is required'
                            }
                        }
                    }
                }
            });
    	}
        	
        var commentid = $('#commentid').val();
        var commentlist = jQuery.parseJSON(commentid);
    	$.each(commentlist, function(index, value) {
    		$('#ratyvalue'+value).hide();
        	$('#raty'+value).raty({
    	    	path: '//wbotelhos.com/raty/lib/images',
	            size: 24,
	            readOnly: true,
    	    	score: function() {
    	    	    return $('#ratyvalue'+value).text();
    	    	}
    	    });
    	});
    });
    </script>
  </body>
</html>