<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<th:block th:replace="header :: common_head ('Suggest TimeTable')"></th:block>
</head>
<style>
.panel-primary {
	border-color: #222;
}

.panel-primary>.panel-heading {
	color: #ffffff;
	background-color: #222;
	border-color: #222;
}

.panel-primary>.panel-heading+.panel-collapse .panel-body {
	border-top-color: #222;
}

.panel-primary>.panel-footer+.panel-collapse .panel-body {
	border-bottom-color: #222;
}
</style>
<body background="../images/bg.jpg">
	<header th:replace="header :: header('Suggest Timetable')"></header>
	<div class="container">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<h4 class="panel-title">
					<span class="glyphicon glyphicon-time"></span> Suggest Timetable
				</h4>
			</div>
		 <div class="panel-body">
			<h4 style="text-align: center">This is the timetable we suggest
				to you.</h4>
			<h4 style="text-align: center">Please add more items on the
				timetable by yourself!</h4>
			<h4 style="text-align: center">(You can add anything you hope us
				to remind you)</h4>
			<br/>
			<br/>
			<div class="table-responsive">

				<form id="form" name="suggesttimetable" method="post"
					class="form-horizontal"
					th:action="@{/insomniaclub/suggesttimetable}" style="text-align:center">
					<div>
						<th:block th:if="${session.user}">
							<ul class="nav navbar-nav navbar-right">
								<li th:class="${item} == 'profile' ? 'active' : ''"><input
									type="hidden" id="email" name="email"
									th:href="@{'/insomniaclub/profile'}"
									th:value="${session.user.email}" /></li>
							</ul>
						</th:block>
					</div>

					<div class="form-group">
						<div class="col-md-5">
							<label class="col-md-3 control-label">Event</label>
						</div>

						<div class="col-md-5">
							<label class="col-md-3 control-label">Time</label>
						</div>
						<div class="col-md-offset-8 col-md-4">
							<button type="button" class="btn btn-default addButton">
								Add <i class="fa fa-plus"></i>
							</button>
						</div>
					</div>
					<div class="form-group">
						<div class="col-md-4">
							<input type="text" th:value="${suggesttimetable.getUp}"
								readonly="readonly" class="form-control" name="eventName" />
						</div>

						<div class="col-md-4">
							<input class="form-control" type="time"
								th:value="${suggesttimetable.getUpTime}" name="eventTime" />
						</div>

					</div>
					<div class="form-group">
						<div class="col-md-4">
							<input type="text" th:value="${suggesttimetable.sleep}"
								readonly="readonly" class="form-control" name="eventName" />
						</div>

						<div class="col-md-4">
							<input class="form-control" type="time"
								th:value="${suggesttimetable.sleepTime}" name="eventTime" />
						</div>
					</div>

					<div class="form-group"></div>

					<!-- The option field template containing an option field and a Remove button -->
					<div class="form-group hide" id="optionTemplate">

						<div class=" col-md-4">
							<input type="text" class="form-control" name="eventName" />
						</div>
						<div class="col-md-4">
							<input class="form-control" type="time" name="eventTime" />
						</div>
						<div class="col-md-4">
							<button type="button" class="btn btn-default removeButton">
								Remove <i class="fa fa-minus"></i>
							</button>
						</div>
					</div>

					<div class="form-group">
						<div class="col-md-offset-8 col-md-4">
							<button type="submit" class="btn btn-default">Submit</button>
						</div>
					</div>
				</form>

			</div>

		</div>
		</div>
	</div>
	<div class="container">
		<hr class="featurette-divider" />
		<footer>
			<p>&copy; 2014 Insomnia Club, Inc.</p>
		</footer>
	</div>
	<th:block th:replace="header :: scripts" />
	<script type="text/javascript">
$(document).ready(function() {
    // The maximum number of options
    var MAX_OPTIONS = 5;

    $('#form')
        .bootstrapValidator({
            feedbackIcons: {
                valid: 'glyphicon glyphicon-ok',
                invalid: 'glyphicon glyphicon-remove',
                validating: 'glyphicon glyphicon-refresh'
            },
            fields: {
                question: {
                    validators: {
                        notEmpty: {
                            message: 'Event required and cannot be empty'
                        }
                    }
                },
                'eventTime': {
                    validators: {
                        notEmpty: {
                            message: 'Event Time required and cannot be empty'
                        }
                    }
                }
            }
        })

        // Add button click handler
        .on('click', '.addButton', function() {
            var $template = $('#optionTemplate'),
                $clone    = $template
                                .clone()
                                .removeClass('hide')
                                .removeAttr('id')
                                .insertBefore($template),
                $option   = $clone.find('[name="eventTime"]');

            // Add new field
            $('#form').bootstrapValidator('addField', $option);
        })
        // Remove button click handler
        .on('click', '.removeButton', function() {
            var $row    = $(this).parents('.form-group'),
                $option = $row.find('[name="eventTime"]');

            // Remove element containing the option
            $row.remove();

            // Remove field
            $('#form').bootstrapValidator('removeField', $option);
        })
        // Called after adding new field
        .on('added.field.bv', function(e, data) {
            // data.field   --> The field name
            // data.element --> The new field element
            // data.options --> The new field options

            if (data.field === 'option[]') {
                if ($('#form').find(':visible[name="eventTime"]').length >= MAX_OPTIONS) {
                    $('#form').find('.addButton').attr('disabled', 'disabled');
                }
            }
        })
        
     

       
});
  
  
</script>




</body>
</html>