<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <th:block th:replace="header :: common_head ('TimeTable')"></th:block>
  </head>
  <style>
    .panel-primary {
      border-color: #222;
    }
    .panel-primary > .panel-heading {
      color: #ffffff;
      background-color: #222;
      border-color: #222;
    }
    .panel-primary > .panel-heading + .panel-collapse .panel-body {
      border-top-color: #222;
    }
    .panel-primary > .panel-footer + .panel-collapse .panel-body {
      border-bottom-color: #222;
    }
  </style>
  <body background = "../images/bg.jpg">
    <header th:replace="header :: header('TimeTable')"></header>
        
    <div class="container">
     <div class="panel panel-primary">
    	 <div class="panel-heading">
              <h4 class="panel-title"><span class="glyphicon glyphicon-time"></span> TimeTable</h4>
          </div>
            <h4 style="text-align:center">This is your timetable, please remember check each event on time!</h4>
           <br/><br/>
            
				<div class="container">
				 <input type="hidden" id="timetableid" th:value="${list}" />
				<div th:each="timetable:${timetable}" id="accordion" class="panel-group">
      
				<form id="form" name="timetable" method="post"
					class="form-horizontal" th:action="@{/insomniaclub/timetable}" style="text-align:center">
						<div class="form-group" style="text-align:center">
						<div class="col-md-3 col-md-offset-3" style="text-align:center">
							<input type="text" readonly="readonly" th:value="${timetable.eventName}" class="form-control" name="eventName" />
						</div>
						
						<div class="col-md-3" style="text-align:center">
							<input type="text" readonly="readonly" th:value="${timetable.eventTime}" class="form-control" name="eventTime" />
						</div>
						</div>
				</form>
				 
				</div>
				
			
        </div>
       </div>
       <div class="container">
        <hr class="featurette-divider" />
        <footer>
          <p>&copy; 2014 Insomnia Club, Inc.</p>
        </footer>
        </div>
      </div>
 
      <th:block th:replace="header :: scripts" />
    </body>
</html>