<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:fb="http://www.facebook.com/2008/fbml">
<head>
  <th:block th:replace="header :: common_head ('Videos')"></th:block>
</head>
  <style>
    .panel-primary {
      border-color: #222;
    }
    .panel-primary > .panel-heading {
      color: #ffffff;
      background-color: #222;
      border-color: #222;
    }
    .panel-primary > .panel-heading + .panel-collapse .panel-body {
      border-top-color: #222;
    }
    .panel-primary > .panel-footer + .panel-collapse .panel-body {
      border-bottom-color: #222;
    }
  </style>
<body background="../../images/bg.jpg">
	<header th:replace="header :: header('videos')"></header>
	<div class="container">
			<div class="panel panel-primary">
               <div class="panel-heading">
                 <h4 class="panel-title" th:text="${cate}"></h4>
               </div>
					<input type="hidden" id="videoid" th:value="${list}" />
					<div class="panel-body">
					      <table>
					        <tr th:each="video:${videos}">
					        <td>
							  <div class="embed-responsive" style="width:400px;height:360px; margin: 10px 20px 10px 0;">
							  	<iframe class="embed-responsive-item" th:src="@{${video.videopath}}"></iframe>
						      </div>
						      </td>
						      <td th:text="${video.description}" />
						      <td>
                              	<a th:href="@{'/insomniaclub/videos/commentandrate/'+${video.videoid}}" class="btn btn-default btn-lg" role="button">Comment and Rate</a>
                              </td>
						    </tr>
						  </table>
					</div>
			</div>
		</div>
		<div class="container">
			<hr class="featurette-divider" />
			<footer>
				<p>&copy; 2014 Insomnia Club, Inc.</p>
			</footer>
		</div>
		<th:block th:replace="header :: scripts" />
</body>
</html>